body, p, td, th, ul, ol, li, dd, dl, dt, h1, h2, h3, h4, h5, h6,
address
{ 
  font-family: arial, helvetica, sans-serif; 
}

pre, code, tt
{ 
  font-family: courier, serif;  
}


a:link     { text-decoration: none; color: #1c5be5; }
a:visited  { text-decoration: none; color: #1c5be5; }
a:active   { text-decoration: none; color: #ff0000; }
a:hover    { text-decoration: none; color: #cb1919; }

